
01. Data preprocessing/data.csv
02. Exploratory data analysis/real_estate_data.csv
03. Statistical data analysis/calls.csv
03. Statistical data analysis/internet.csv
03. Statistical data analysis/messages.csv
03. Statistical data analysis/tariffs.csv
03. Statistical data analysis/users.csv
